

img{
    max-width: 100%;
}


body{
    height: 100vh;
    background-color: #b91547;
    padding-top: 30px;
    font-family: sans-serif;
    padding-bottom: 30px;
}


.card-form{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 50px;
}



.container-row .row .col-4{
    padding-left: 30px;
    padding-right: 30px;
}

.card-form label{
    padding-bottom: 20px;
}

.row-price{
    min-height: 150px;
    padding-top: 20px;
}


.row-price [class*="col-"] div{
    font-weight: 700;
}
.row-price [class*="col-"] h3{
 padding-bottom: 60px;
}

.container-row-ticket .col-8{
    border-top:1px solid#757575 ;
    border-bottom:1px solid #757575 ;
}

.col-namepasseger{
    padding: 20px 15px 0 15px;
    background-color: #757575;
}


.box-ticket{
    padding-left: 10px;
}


/* typografy  */
.color-white{
    color: white;
}
.text-center{
    text-align: center;
}

h1{
    font-weight: 700;
}

.card-form label {
    color: #b91547;
    font-weight: 600;
}

.text-nowrap{
    text-wrap: nowrap;
}
.color-pink{
    color: #b91547;
}